body.application {
    background-color: black;
    padding: 0px;
}

body.application div[class^="col-"] {
    padding: 0 5px;
}

header {
    background-image: url("../../static/lib/images/header.jpg");
    margin-top: 0;
    text-align: left;
}

.btn-xl {
    background-color: #a10300;
}

.intro_button {
    position: relative;
    top: 11px;
    background-color: white;
}

.hidden { /* css trick for back to top button showing on load */
    display: none;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.dc-chart .brush rect.extent {
    fill: #deb300;
    fill-opacity: .125;
}

.dc-chart rect.deselected {
    stroke: none;
    fill: rgba(222, 179, 0, 0.36);
}

.dc-chart .x-axis-label, .y-axis-label {
    color: #666;
    font-size: 14px;
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dc-chart g.row text {
    fill: black;
    font-size: 14px;
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center {
    margin: 0 auto;
}

.no-radius { /* removed default dc.js border radius for cleaner appearance */
    border-radius: 0;
}

.bg-gray {
    background-color: white;
}

#topRow {
    margin-top: 10px;
}

#year-movie-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#year-death-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.dc-chart .pie-slice {
    fill: white;
    font-size: 12px;
    cursor: pointer;
}

.chart-wrapper {
    background: white;
    border: 1px solid #e2e2e2;
    border-radius: 0px;
    margin-bottom: 10px;
}

#bottomBanner {
    height: 200px;
    background-image: url("../../static/lib/images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.scrollUp {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: 1px solid;
}

section h3.section-subheading {
    margin-bottom: 0px;
}

#bottomText {
    height: 60px;
    width: 1300px;
    position: relative;
    top: 28px;
    left: 20px;
}

#bottomText p {
    color: white;
    text-align: left;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    padding: 0;
}
