body.application {
    background-color: black;
    padding: 0px;
}

header {
    background-image: url("/static/lib/images/header.jpg");
    margin-top: 0;
    text-align: left;
}

.btn-xl {
    background-color: #a10300;
}

.intro_button {
    position:relative;
    top: 11px;
    background-color: white;
}

body.application div[class^="col-"] {
    padding: 0px 5px;
}

.row {
     margin-right: 0px;
     margin-left: 0px;
}

.dc-chart .brush rect.extent {
    fill: #deb300;
    fill-opacity: .125;
}

.dc-chart rect.deselected {
    stroke: none;
    fill: rgba(222, 179, 0, 0.36);
}

.center {
    margin: 0 auto;
}

.no-radius {
    border-radius: 0;
}

.bg-gray {
    background-color: white;
}

#topRow {
    margin-top: 10px;
}

#year-movie-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#year-death-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#genre-chart {
    color: black;
}

.dc-chart .pie-slice {
    fill: white;
    font-size: 12px;
    cursor: pointer;
}

.chart-wrapper {
    background: white;
    border: 1px solid #e2e2e2;
    border-radius: 0px;
    margin-bottom: 10px;
}

#toTop {
    margin-top: 20px;
    height: 200px;
    background-image: url("/static/lib/images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.scrollUp {
    font-size: 20px;
    margin-top: 80px;
}

section h3.section-subheading {
    margin-bottom: 0px;
}

footer {
    padding: 0px;
}
