<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Deaths Dashboard</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="/static/lib/css/introjs.css" />
</head>


<body class="application">


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!</button>
            <a class="navbar-brand" href="./">Movie Deaths Dashboard</a>
        </div><!-- / navbar-header -->
    </div><!-- / container-fluid -->
</div><!-- / navbar -->


<div id="outer" class="container-fluid">

    <div class="row">
        <!-- Movies per Year Chart -->
        <div class="col-sm-6">
            <div class="chart-wrapper padding-left" data-step="1" data-intro="Choose the State you" style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    Number of Movies per Year
                </div>
                <div class="chart-stage">
                    <div id="year-movie-chart"></div>
                </div>
            </div>
        </div>
        <!-- / Movies per Year Chart -->

        <!-- Deaths per Year Chart -->
        <div class="col-sm-6">
            <div class="chart-wrapper padding-right">
                <div class="chart-title">
                    Number of Deaths per Year
                </div>
                <div class="chart-stage">
                    <div id="year-death-chart"></div>
                </div>
            </div>
        </div>
        <!-- / Deaths per Year Chart -->
    </div><!-- / row -->


    <div class="row">
        <!-- Deaths per Movie Chart -->
        <div class="col-sm-6">
            <div class="chart-wrapper padding-left">
                <div class="chart-title">
                    Number of Deaths per Movie
                </div>
                <div class="chart-stage">
                    <div id="deaths-movie-chart"></div>
                </div>
            </div>
        </div>
        <!-- / Deaths per Movie Chart -->

        <!-- Deaths per Director Chart -->
        <div class="col-sm-6">
            <div class="chart-wrapper padding-right">
                <div class="chart-title">
                    Number of Deaths per Director
                </div>
                <div class="chart-stage">
                    <div id="deaths-director-chart"></div>
                </div>
            </div>
        </div>
        <!-- / Deaths per Director Chart -->
    </div><!-- / row -->


    <div class="row">
        <!-- Deaths per Minute Chart -->
        <div class="col-sm-6">
            <div class="chart-wrapper padding-left">
                <div class="chart-title">
                    Number of Deaths per Minute
                </div>
                <div class="chart-stage">
                    <div id="deaths-minute-chart"></div>
                </div>
            </div>
        </div>
        <!-- / Deaths per Minute Chart -->

        <!-- Deaths per Minute (Director) Chart -->
        <div class="col-sm-6">
            <div class="chart-wrapper padding-right">
                <div class="chart-title">
                    Number of Deaths per Minute (Director)
                </div>
                <div class="chart-stage">
                    <div id="deaths-minute-director-chart"></div>
                </div>
            </div>
        </div>
        <!-- / Deaths per Minute (Director) Chart -->
    </div><!-- / row -->


    <div class="row">
        <div class="col-sm-3">
            <div class="chart-title">
            </div>
            <div class="chart-stage">
            </div>
        </div>
        <!-- Genre Chart -->
        <div class="col-sm-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Movie Genres
                </div>
                <div class="chart-stage">
                    <div id="genre-chart"></div>
                </div>
            </div>
        </div>
        <!-- / Genre Chart -->
        <div class="col-sm-3">
            <div class="chart-title">
            </div>
            <div class="chart-stage">
            </div>
        </div>
    </div><!-- / row -->


    <div class="row">
        <!-- Body Count / IMDB Bubble Chart -->
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Body Count related to IMDB Rating
                </div>
                <div class="chart-stage">
                    <div id="body-imdb-chart"></div>
                </div>
            </div>
        </div>
        <!-- / Body Count / IMDB Bubble Chart -->
    </div><!-- / row -->





{#    <div class="row">#}
{#        <!-- Avg Deaths per Year Chart -->#}
{#        <div class="col-sm-12">#}
{#            <div class="chart-wrapper">#}
{#                <div class="chart-title">#}
{#                    Average Number of Deaths per Year#}
{#                </div>#}
{#                <div class="chart-stage">#}
{#                    <div id="avg-deaths-year-chart"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- / Avg Deaths per Year Chart -->#}
{#    </div><!-- / row -->#}





<hr>
<p class="small text-muted"> Data viz &#9829; from Code Institute</a></p>

</div><!-- / outer -->

<script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>

<script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
<script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
<script src="/static/lib/js/intro.js" type="text/javascript"></script>

</body>
</html>